@use "@/shared/sass/variables.scss" as v;
@use "@/shared/sass/mixins.scss" as m;

.dialogue {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 4rem;
  padding: 0.6rem 1rem;
  background-color: rgb(240, 242, 245);
  display: flex;
  align-items: center;
  column-gap: 1rem;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__label {
    font-size: 1rem;
    color: #111b21;
  }
}

.main {
  flex-grow: 1;
  position: relative;
  background-color: #efeae2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("@/shared/images/bg.png");
    opacity: 0.4;
  }

  &__list {
    padding: 0.75rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__inner {
    width: 100%;
  }

  &__item {
    display: grid;
    grid-template-columns: 2.8rem auto 4.5rem;
  }
}

.message {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  background-color: #d9fdd3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-self: flex-end;

  &__text {
    font-size: 0.875rem;
    color: #111b21;
    line-height: 1.2;
  }

  &__time {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #667781;
    margin-left: 0.3rem;
    position: relative;
    top: 0.3rem;
  }

  &__status {
    width: 1rem;
    height: 0.68rem;
    margin-left: 0.2rem;
    position: relative;
    top: 0.3rem;

    svg {
      width: 100%;
      height: 100%;
      color: #53bdeb;
    }
  }
}

.footer {
  height: 3.87rem;
  background-color: rgb(240, 242, 245);
  padding-left: 1rem;
  padding-right: 1rem;
  // padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send {
  &__form {
    display: grid;
    grid-template-columns: 2.8rem auto 2.8rem;
    align-items: center;
    justify-items: center;
  }

  &__fields {
    grid-column: 2 / 3;
    padding: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__btn {
    grid-column: 3 / 4;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
      color: #54656f;
    }
  }
}
